.calculator {
    width: 98.5vw;
    height: 99vh;
    margin: 0.5vw 0.5vh;

    display: grid;
    grid-template-rows: 1fr 20vw 20vw 20vw 20vw 20vw;
    grid-template-columns: 1fr 16.25vh 16.25vh 16.25vh;

    background-color: red;
}